DinoTechDataSyncService/TestApplication/Service References/ServiceTokenValidation/DinoTechDataSyncService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DinoTechDataSyncService.WCF.FileUtilities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DinoTechDataSyncService.WCF.FileUtilities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RequestBTMData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="tns:ArrayOfDataBase" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestBTMData" nillable="true" type="tns:RequestBTMData" />
  <xs:complexType name="ArrayOfDataBase">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataBase" nillable="true" type="tns:DataBase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataBase" nillable="true" type="tns:ArrayOfDataBase" />
  <xs:complexType name="DataBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="BF" type="xs:int" />
      <xs:element minOccurs="0" name="D" type="xs:double" />
      <xs:element minOccurs="0" name="DT" type="xs:int" />
      <xs:element minOccurs="0" name="T" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataBase" nillable="true" type="tns:DataBase" />
</xs:schema>