DinoTechDataSyncService/TestApplication/Service References/ServiceTokenValidation/DinoTechDataSyncService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DinoTechDataSyncService.Business" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DinoTechDataSyncService.Business" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ResponseStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseStatus" nillable="true" type="tns:ResponseStatus" />
</xs:schema>