DinoTechDataSyncService/TestApplication/Service References/ServiceTokenValidation/DinoTechDataSyncService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DinoTechDataSyncService.WCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DinoTechDataSyncService.WCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ServiceError">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceError" nillable="true" type="tns:ServiceError" />
</xs:schema>